<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'dashboard' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>


                <li class="menu-title">Transactions</li><!-- /.menu-title -->

                <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Employee Management</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_employee' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_employee' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Salary Management</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_employee' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_employee' %}">View</a></li>
                    </ul>
                </li>
                
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Allowances</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'list_allowance' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Deductions</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'list_deduction' %}">Decution List</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_miscellaneous_deduction' %}">Miscellaneous Deduction List</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Bank Details</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'list_bank' %}">Bank List</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_loan' %}">Loan List</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Leave Management</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'list_employee' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Reports</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'list_employee' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Application Settings</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'list_pay_scale' %}">Pay Scale</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_grade_pay' %}">Grade Pay</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_grade_payment' %}">Grade Payment</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_employee_type' %}">Employee Type</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_department_type' %}">Department Type</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_designation' %}">Designation</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_emp_classes' %}">Employee class</a></li>
                    </ul>
                </li>



               
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>