{% extends 'base/base_temp.html' %}

{% block title %}Product List{% endblock title %}

{% block head %}

<style>

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 4px solid rgba(0,0,0,.1);
    }



    @media print {
        body {
            font-size: 20px !important; /* Increase font size for printed output */
        }

        @page {
            size: auto; /* Use the default paper size */
            margin: 0mm; /* Adjust the margins */
            zoom: 100%; /* Adjust the zoom level (e.g., 90% of normal size) */
        }

        table {
            font-size: 22px !important;
        }
        
        /* Additional styling for table cells */
        th, td {
            padding: 8px;
            border: 1px solid #000;
        }
    }

    td{
        font-size: 12px !important;
    }

    tr{
        font-size: 12px !important;
    }

</style>

{% endblock head %}

{% block content %}


<div class="row" style="margin: 28px;">
    <div class="col-xl-12">


      
   

        <div class="card">
            <div class="card-body" style="padding : 0.25em;margin-left:20px;">
                <h4 class="box-title">Salary Slip for {{ data.name }} {{ data.middle_name }} {{ data.last_name }}  </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Designation</th>
                                <th>Working days</th>
                                <th>Absent days</th>
                                <th>Basic Salary</th>
                                {% comment %} <th>Dearness Allowance</th>
                                <th>House Rent</th>
                                <th>Travel Allowance</th>
                                <th>Clothes Washing</th>
                                <th>NPS DCPS 4%</th> {% endcomment %}
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            <tr>
                                <td>{{ data.department }}</td>
                                <td>{{ data.designation }}</td>
                                <td>20</td>
                                <td>3</td>
                                <td>{{ data.basic_salary }}</td>
                               
                            </tr>
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}


                        </tbody>

                    </table>
                </div> <!-- /.table-stats -->
            </div>
            
        </div> <!-- /.card -->
            <hr>

            <div style="display: flex;">

                <div class="col-6">
                    <div class="card" style="border: 2px solid black;">
                        <div class="card-body" style="padding : 0.25em;margin-left:20px;">
                            <h4 class="box-title">Allowance Summary</h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th>Allowance</th>
                                            <th>Amount</th>

                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if allowance_data %}
                                        {% for i in allowance_data %}

                                        <tr>
                                            <td class="serial"> {{ forloop.counter }}</td>
                                            <td>{{ i.allowance.name }}</td>
                                            <td>{{ i.allowance.amount }}</td>
                                        
                                        </tr>

                                        {% endfor %}

                                        <tr> <td> Total </td> <td></td> <td> {{ allowance_amount_sum }} </td> </tr>
                                        
                                        {% else %}
                                            <tr><td>No Allowance Data</td></tr>
                                        {% endif %}



                                    </tbody>
            
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                        
                    </div> <!-- /.card -->

                </div>

                <div class="col-6">

                    <div class="card" style="border: 2px solid black;">
                        <div class="card-body" style="padding : 0.25em;margin-left:20px;">
                            <h4 class="box-title"> Deduction Summary </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th>Deduction</th>
                                            <th>Amount</th>

                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if deduction_data %}
                                        {% for i in deduction_data %}

                                        <tr>
                                            <td class="serial"> {{ forloop.counter }}</td>
                                            <td>{{ i.deduction.name }}</td>
                                            <td>{{ i.deduction.amount }}</td>
                                        
                                        </tr>

                                        {% endfor %}

                                        <tr> <td>  Total </td> <td> </td> <td> {{ deduction_amount_sum }} </td> </tr>


                                        {% else %}
                                            <tr><td>No Allowance Data</td></tr>
                                        {% endif %}



                                    </tbody>

                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div>
                </div>
                
                
                
            </div> <!-- /.card -->
            <div style="display: flex;">

            <div class="col-6">

                <div class="card" style="border: 2px solid black;">
                    <div class="card-body" style="padding : 0.25em;margin-left:20px;">
                        <h4 class="box-title">Loan Summary</h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Deduction</th>
                                        <th>Amount</th>

                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if loan_data %}
                                    {% for i in loan_data %}

                                    <tr>
                                        <td class="serial"> {{ forloop.counter }}</td>
                                        <td>{{ i.loan.name }}</td>
                                        <td>{{ i.emi }}</td>
                                    
                                    </tr>

                                    {% endfor %}

                                    <tr> <td>  Total </td> <td> </td> <td> {{ loan_amount_sum }} </td> </tr>


                                    {% else %}
                                        <tr><td>No Allowance Data</td></tr>
                                    {% endif %}



                                </tbody>

                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div>
            </div>
                <div class="col-6">

                    <div class="card" style="border: 2px solid black;">
                        <div class="card-body" style="padding : 0.25em;margin-left:20px;">
                            <h4 class="box-title">Miscellaneous Deduction Summary</h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th>Deduction</th>
                                            <th>Amount</th>

                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if miscellaneous_deduction_data %}
                                        {% for i in miscellaneous_deduction_data %}

                                        <tr>
                                            <td class="serial"> {{ forloop.counter }}</td>
                                            <td>{{ i.miscellaneous.name }}</td>
                                            <td>{{ i.miscellaneous.amount }}</td>
                                        
                                        </tr>

                                        {% endfor %}

                                        <tr> <td> </td> <td> Total </td> <td> </td> <td> {{ miscellaneous_deduction_amount_sum }} </td> </tr>

                                        
                                        {% else %}
                                            <tr><td>No Allowance Data</td></tr>
                                        {% endif %}



                                    </tbody>

                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div>
                </div>
                </div>

                <hr>

    <div class="card">

        <p style="text-align: right;
        margin-right: 54px;
        color: black;
        font-weight: 600;"> Total Salary (Basic Salary + Allowances - All Deductions - Loan EMIs) :- <span style="font-weight: 1000"> {{ total_salary }} </span> </p>

    </div>

    <hr>
``
    
    
</div>
{% endblock content %}

{% block js %}

<script>
    window.addEventListener('load', function() {
        window.print();
    });
    


</script>


{% endblock js %}